@inherits LayoutComponentBase
@inject ISettingManager _settingManager
<NavMenu />
<div class="container-fluid mt-3" style="padding-bottom:50px;">
    @Body
</div>
<footer class="mt-5 border-top bg-light pt-3  fixed-bottom ">
    <ul class="footer">
        <li>
            Copryright © 2019 - 2020
        </li>
        <li>
            by PersonalBlog
        </li>
        <li>
            v@(model.Version)
        </li>
        <li>
            <a href="https://github.com/Michael-Pro/PersonalBlog" target="_blank">Github</a>
        </li>
    </ul>
</footer>

@functions{
    SystemSetting model => _settingManager.GetSystemSetting();
}